/* From Uiverse.io by vinodjangid07 */ 
#lock, 
#lock2{
  display: none;
}

.lock-label, 
.lock-label2 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(80, 80, 80);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.lock-wrapper, 
.lock-wrapper2 {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(-10deg);
}

.shackle, 
.shackle2 {
  background-color: transparent;
  height: 9px;
  width: 14px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  transition: all 0.3s;
}

.lock-body,
.lock-body2{
  width: 15px;
}

#lock:checked + .lock-label .lock-wrapper .shackle,
#lock2:checked + .lock-label2 .lock-wrapper2 .shackle2 {
  transform: rotateY(150deg) translateX(3px);
  transform-origin: right;
}

#lock:checked + .lock-label,
#lock2:checked + .lock-label2 {
  background-color: rgb(80, 80, 80);
}

.lock-label:active,
.lock-label2:active {
  transform: scale(0.9);
}
