<div class="flex flex-col items-center justify-center h-screen p-5 ">
  
  <form class="p-10 flex flex-col sm:w-[600px] w-full gap-2 text-slate-900 shadow-xl rounded-xl bg-white" (submit)="handleSubmit($event)" >

    <!-- form title -->
    <div class="flex flex-col items-center">
      <img src="../../../assets/sessionTime.svg" alt="Chart Icon" width="70">
      <h2 class="text-2xl lg:text-3xl font-bold">Galería de fotos</h2>
    </div>

    <!-- options -->
    

    <label for="banner" class="font-semibold">Puede elegir hasta <span class="font-bold text-cyan-600">5 fotos</span></label>
    <input type="file" id="banner" multiple (change)="onFileSelected($event)" />

    <div  class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-3 lg:gap-2 items-center justify-center">
      <div *ngFor="let file of selectedFiles">
        <img [src]="getImageUrl(file)" alt="Image"  class="w-24">
      </div>
    </div>

    <!-- Btn -->
    <button class="bg-slate-900 hover:bg-slate-700 duration-200 text-white py-2 rounded mt-2" [ngClass]="{'opacity-30 pointer-events-none' : selectedFiles.length < 1}"> Crear galería </button>

  </form>
</div>
