<div class="h-screen text-center flex flex-col items-centertext-slate-900 ">

  <div class="flex flex-col items-center justify-center px-10 gap-y-5 mt-[150px] sm:mt-[300px]">

    <h3 class="font-bold text-4xl sm:text-5xl italic">Colombia<span class="text-cyan-700">Reserva</span></h3>
  
    <p class="font-semibold">Crea tu página de reservas <span class="text-cyan-700">completamente gratis</span> para que tu negocio sea más fácil de administrar.</p>
    <!-- Btn -->
    <a class="bg-slate-900 hover:bg-slate-700 duration-200 text-white py-2 px-4 rounded mt-2" routerLink="/schedule"> Crear Ahora </a>
  </div>



  <div class="phones  h-[400px] overflow-hidden w-screen self-end absolute bottom-0">
    <img src="assets/phone1.webp" alt="phone1" class="phone1 w-40 absolute bottom-[-5%] left-1/2 translate-x-[-50%] z-10">

    <img src="assets/phone2.webp" alt="phone2" class="phone2 w-40 absolute bottom-[-10%] left-1/2 translate-x-[0] z-1 rotate-[25deg]">

    <img src="assets/phone3.webp" alt="phone3" class="phone3 w-40 absolute bottom-[-10%] left-1/2 translate-x-[-100%] z-1 rotate-[-25deg]">

    <img src="assets/phone4.webp" alt="phone4" class="phone4 w-40 absolute bottom-[-25%] left-1/2 translate-x-[-150%] z-[-1] rotate-[-45deg]">

    <img src="assets/phone5.webp" alt="phone5" class="phone5 w-40 absolute bottom-[-25%] left-1/2 translate-x-[50%] z-[-1] rotate-[45deg]">
  </div>
 
</div>