@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-timegrid-slot-label-frame {
  padding: 50px 0 !important;
}

.fc-toolbar-title{
  font-size: 20px !important;
}

@media screen and (min-width: 640px){
  .fc-toolbar-title{
    font-size: 28px !important;
  }
}